


.changeReqForm {

}

.changeReqBackBtn {
  margin-right: 90%;
}

.changereqtitle {
  height: 35px;
  width: 400px;
  margin-bottom: 10px;
}

.changeReqMessage {
  height: 135px;
  width: 600px;
}

.changeReqHeader {
  margin-right: 10%;
}

.changeReqBtn {
  margin-top: 10px;
  margin-left: 53%;
}
