/* #myFooter{
    height: 300px;
} */
#myFooter{
    background-color: darkslategray;
    margin-top: 10px;
    padding-top: 30px;
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
a{
    color: #d2d1d1;
    font-size: 16px;
    /* text-decoration: none; */
    /* color: white; */
}
a:link {
    text-decoration: none;
}
a:hover {
    color: white;
    /* font-weight: bold; */
}
h5{
    color: tomato;
}
 #donate button{
    background-color: tomato;
    color: #d2d1d1;
}
#donate button:hover:enabled {
    background: linear-gradient(tomato,chocolate);
    /* color: #fff; */
    /* text-decoration: none; */
  }
  .button:active {
    transform: translateY(1px);
  }

.twitter{
    font-size: 40px;
    margin: 10px;
}
.twitter:hover{
    color: #1DA1F2;
}
.facebook{
    font-size: 40px;
    margin: 10px;
}
.facebook:hover{
    color: #4867AA;
}
.instagram{
    font-size: 40px;
    margin: 10px;
}
.instagram:hover{
    color: #CF4662;
}

.footer-copyright{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #272932;
    color: white;
}
.heart {
    margin: 5px auto;
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    /* background: #ecf0f1; */
    background: tomato;
    border-radius: 0 0 0 10px;
    transform: rotate(-45deg);
    animation: pulse 2s infinite;
  }
  .heart::before,
  .heart::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    /* background: #ecf0f1; */
    background: tomato;
    border-radius: 50%;
  }
  .heart::before {
    top: -10px;
    left: 0;
  }
  .heart::after {
    top: 0;
    right: -10px;
  }
  @keyframes pulse {
    0%, 20% {
      transform: rotate(-45deg) scale(1);
    }
    30% {
      transform: rotate(-45deg) scale(1.2);
    }
    50% {
      transform: rotate(-45deg) scale(1);
    }
    60% {
      transform: rotate(-45deg) scale(1.1);
    }
    70%, 100% {
      transform: rotate(-45deg) scale(1);
    }
  }