.StudentProfile-container{
  margin-top: 5%;
  margin-bottom: 5%;
}
.StudentProfile-container a{
  margin-right: 75%;
  margin-top:20px;
  margin-bottom: 20px;
}
.StudentProfile-container h2{
  padding-bottom: 40px;
  color: #e74c3c;
}

.StudentProfile-MainContainer{
  margin-top: 2%;
  margin-bottom: 3%;
}
.StudentProfile-leftContainer{
  width: 30%;
  height: 30%;
  /* margin-left: 10%; */
  display: inline-block;
  vertical-align: top;
  /* border: 2px solid black; */
  overflow: hidden;
}

.StudentProfile-leftContainer img{
  width: 100%;
  height: 30%;
}

.StudentProfile-rightContainer{
    width: 70%;
    height: auto;
    display: inline-block;
    border: 4px inset grey;
    overflow: auto;
    padding: 1%;
    background-color: #272932; /*In case image doesn't load*/
    /* background: url("http://opentechsummit.net/img/grey-bg.jpg"); */
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    z-index: -2;
    /* -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.37), -8px 5px 8px 5px rgba(0,0,0,0.54); */
    /* -moz-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.37), -8px 5px 8px 5px rgba(0,0,0,0.54); */
    /* box-shadow: inset 0px 5px 30px 5px rgba(0,0,0,0.35), -8px 5px 8px 5px rgba(0,0,0,0.54); */
    box-shadow: inset 0px 5px 30px 5px rgba(253, 253, 253, 0.35), -8px 5px 8px 5px rgba(207, 220, 222, 0.54);
    -webkit-box-shadow: inset 0px 5px 30px 5px rgba(253, 253, 253, 0.35), -8px 5px 8px 5px rgba(207, 220, 222, 0.54);
    -moz-box-shadow: inset 0px 5px 30px 5px rgba(253, 253, 253, 0.35), -8px 5px 8px 5px rgba(207, 220, 222, 0.54);
}

.StudentProfile-rightContainer p{
  text-align: justify;
  padding: 5px;
}

.StudentProfile-leftList{
  /* width: 30%; */
  height: 30%;
  display: inline-block;
  text-align: left;
}

.StudentProfile-leftList li{
  list-style: none;
  padding-right: 10px;
}

.StudentProfile-rightList{
  width: 70%;
  height: 30%;
  display: inline-block;
  text-align: left;
}

.StudentProfile-rightList li{
  list-style: none;
}

.StudentProfile-firstCol{
  width: 40%;
  height: 50px;
}

.StudentProfile-secCol{
  width: 60%;
    height: 50px;
}

.StudentProfile-link-style{
  color: blue;
}

.StudentProfile-button{
  margin-right: 70%;
  height: 50px;
  width: 200px;
}

#calcBody {
 background-color: lightgray; /*In case image doesn't load*/
 background: url("http://opentechsummit.net/img/grey-bg.jpg");
 background-position: right top;
 background-size: cover;
 background-repeat: no-repeat;
 text-align: center;
 width: 300px;
 margin: 10% auto 5% auto;
 border: none;
 z-index: -2;
 -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.37), -8px 5px 8px 5px rgba(0,0,0,0.54);
 -moz-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.37), -8px 5px 8px 5px rgba(0,0,0,0.54);
 box-shadow: inset 0px 5px 30px 5px rgba(0,0,0,0.35), -8px 5px 8px 5px rgba(0,0,0,0.54);
}
